* {
	font-family: poppins;
	text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.App {
  text-align: center;
  min-width: 100%;
	min-height: 100%;
	background-color: #c7c7c7;
  background-size: cover;
  background-position: center;
}

.toggleicon {
	font-size: 50px;
	color: rgb(0, 0, 0);
	letter-spacing: 5px;
  display: none;
}

.logo {
	font-size: 30px;
	letter-spacing: 5px;
	margin: 0 10px;
	color: rgb(0, 0, 0);
}

nav {
	box-shadow: 0 10px 100px 0 #000;
	background-color: #d3cfcf;
}

nav a {
	text-align: right!important;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: rgb(0, 0, 0);
}

nav ul li:hover {
	transition: all 0.7s ease 0s;
	background: #333;
	}

nav ul li a:hover {
	transition: all 0.5s ease 0s;
	color: #d3cfcf
	
  }

.landingpage{
  padding-top: 13vh;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin:auto;
  display: block;
}



.banner-text{
	text-align: left;
  padding-top: 5%;
  height: 100%;
  width:80%;
  margin: auto;
}

.banner-text-col{
  margin-top: 3%;
  float: left;
  width: 38%;
}

.banner-text-col p{
  text-align: justify;
  text-justify: auto;
  font-weight: 500;
  color: #525252;
  font-size: 18px;
  line-height: 1.5;
  padding-right:2em;
}

.banner-text h1{
  font-size: 80px;
  font-weight: 700;
  
}

.aboutme{
  padding-top: 7%;
  display: block;
}

.aboutme-container{
  margin: auto;
	width: 80%;
	box-shadow: 0px 10px 10px 10px;
  background-color:  #d3cfcf;
  border-radius: 25px;
}


.aboutme-text{
	text-align: left;
  padding: 8%;
}

.aboutme-container h1{
  font-size: 40px;
  font-weight: bold;
}

.aboutme-container p{
	
  font-size: 16px;
  color: black;
  font-weight: 500;
  line-height: 28px;
}

.aboutme-profilepic{
  text-align: left;
}

.aboutme-profilepic img{
  position: absolute;
  max-height: 100% 100vh;
  width: 500px;
  margin-left: 8%;
  background-size: cover;
  bottom: 0;
}

.buttonnavbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
	width: 100%;
	display: block;
}

.buttonnavbar a {
	padding: 14px 16px;
	font-size: 25px;
  float: left;
	color: #bdbdbd;
}

#textright {
	padding: 14px 16px;
	font-size: 25px;
	color: #bdbdbd;
	float: right;
	color: #bdbdbd!important;
}

#textleft {
	padding: 14px 16px;
	font-size: 25px;
	color: #bdbdbd;
	float: left;
	color: #bdbdbd!important;
}

.hover a:hover {
	transition: all 0.5s ease 0s;
  background: #f1f1f1;
  color: black;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.breweries {
	margin: auto;
		padding: 2rem;
}
  
.breweries > ul {
	padding: initial;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 3rem;
}

/* dl, ol, ul {
	margin-bottom: 5rem!important;
} */
  
.breweries > ul > li {
	margin-bottom: 5rem!important;
	background-color:  #d3cfcf;
	box-shadow: 0px 10px 10px 10px;
	border-radius: .5rem;
}
  
.breweries > ul > li > figure {
	max-height: 220px;
	overflow: hidden;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	position: relative;
}
  
.breweries > ul > li > figure > img {
	width: 100%;
}
  
.breweries > ul > li > figure > figcaption {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	width: 100%;
}
  
.breweries > ul > li > figure > figcaption > h3 {
	color: white;
	padding: .75rem;
	font-size: 1.25rem;
}
  
.breweries > ul > li > p {
	font-size: 1rem;
	line-height: 1.5;
	padding: 1rem .75rem;
	color: #666666;
}
  
  .breweries > ul > li > a {
	padding: .5rem 1rem;
	margin: .5rem;
}
  

  #boton {
	background-color: #333;
	color: white;
	border-radius: .25rem;
	text-align: center;
	display: inline-block;
	transition: all .3s;
  }

  #boton:hover {
		background: #f1f1f1;
		color: #333;
		opacity: .6;
	}
	


	@media only screen and (max-width:1299px){
		.banner-text-col{
			margin-top: 3%;
			float: left;
			width: 100%;
		}
	
		.aboutme-profilepic img{
			position: relative;
			/* text-align: center; */
			float: none;
			width: 100%;
		}
	
		.aboutme-profilepic{
			text-align: center;
		}
	
		.aboutme{
			padding-top: 10px;
		}
	
	}

	@media only screen and (max-width:1200px){

		.aboutme-profilepic img{
			position: relative;
			/* text-align: center; */
			float: none;
			width: 50%;
		}
	
		.aboutme-profilepic{
			text-align: center;
		}
	
		.aboutme{
			padding-top: 10px;
		}
	
	}
	
	@media only screen and (max-width:1151px){
		.aboutme-text{
			width:100%;
		}
	
		 .banner-text h1{
			font-size: 70px;
		}
	}
	
	@media only screen and (max-width:991px){
		.aboutme-profilepic img{
			position: relative;
			float: none;
			width: 55%;
		}
	
		.aboutme-profilepic{
			text-align: center;
		}
	
		.contact-img img{
			position: absolute;
			right:0;
			width:25%;
			bottom: 0px;
		}
	}

	@media only screen and (max-width:767px){
		.toggleicon{
			display: inline;
		}

		#textright {
			float: left;
		}
	}




