body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header {
	border: solid rgb(0, 0, 0);
	box-shadow: 0 10px 10px -10px #d3cfcf;
	height: 100px;
	background:  #d3cfcf;;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: rgb(0, 0, 0);
	letter-spacing: 5px;
}

nav {
	float: right;
	line-height: 100px;
}

nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: rgb(0, 0, 0);
}

.banner-area {
  top: 8%;
	width: 100%;
  height: 100vh;
  font-family: poppins;
	position: fixed;
	background-image: url("./Assets/1_MCn1VrXQznTi3JMtAIGK0g.jpeg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.banner-area h2 {
	padding-top: 10%;
	font-size: 60px;
	font-family: poppins;
	text-transform: uppercase;
	color: rgba(190, 185, 185, 0.555);
}

.intro {
	font-size: 20px;
	font-family: poppins;
	color: rgb(141, 138, 138);
}

.intro h4 {
  padding-top: 14%;
	font-size: 20px;
	font-family: poppins;
	color: #d3cfcf;
}

.content-area {
	width: 100%;
	position: relative;
	top: 100vh;
	background: #d3cfcf;
	height: 1500px;
}

.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

#icons{
  display: flex;
}

#icons a{
  padding-left: 30px;
  font-size: 40px;
  color:black;
}

#icons h5{
  font-weight: poppins;
  margin: auto 0;
  bottom: 0;
  left:0;
}

.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.experience {
	text-align: left;
  font-family: poppins;
  padding: 10%;
  display: flex;
  background-color: #bdbdbd;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
